@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$default-bg-color: #FFF0F0;
$default-text-color: #201F1F;
$promo-bg-color: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
$promo-text-color: #FBFBFF;

body {
  margin: 0;
  font-family: 'Open Sans';
  color: $default-text-color;
  background: $default-bg-color;
}

.text-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@for $row from 2 through 5 {
  .text-ellipsis-#{$row} {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: $row;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
  }
}
