@use 'global' as global;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 360px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    width: 100%;
    height: calc(100vh - (20px + 54px + 20px));
    box-sizing: border-box;
  }

  .finalMessage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;

    &>span {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .answerDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;

    .question {
      font-size: 14px;
    }

    .answer {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.promo {
  background: global.$promo-bg-color;
}
